<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/resources/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Daviz</title>
  </head>
  <style>
    body {
      /* background: linear-gradient(to bottom, #f1faf9, #d3fbfb); */
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    
    .container{
      margin-left: 0%;
      margin-right: 0%;
      width:150%;
    }
    .slide{
      background: linear-gradient(to bottom, #e7f6f5, #c8f9f9);
      width:70%;
      /* color: white; */
    }

    section {
      margin-bottom: 20px;
    }
    .card-body{
      width:97vw;
      background: linear-gradient(to bottom, #f1faf9, #d3fbfb);
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 5px;
      padding: 20px;
      background-color: #fff;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .card h2 {
      margin-top: 0;
      color: #333;
    }

    .card p {
      color: #666;
    }

    .map {
      width: 100%;
      height: 300px;
      background: url("map.jpg") no-repeat center center;
      background-size: cover;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg" >
      <!-- <div class="container-fluid"> -->
      <a class="navbar-brand" href="/">
        <img
          src="/static/resources/Daviz-1.png"
          alt="Logo"
          width="100"
          height="24"
          class="d-inline-block align-text-bottom"
      /></a>
      <div class="navi">
        <a href="#about">About Us</a>
        <a href="#explore">Explore</a>
        <a href="#contact">Contact</a>
        <a href="/chat">ChatBot</a>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <script>
          alert("{{ messages[0] }}");
        </script>
        {% endif %} {% endwith %}

        <li class="nav">
          {% if user %}
          <pre>{{user}}</pre>
        </li>
        <a class="btn btn-color" href="/logout" role="button">Logout</a>
        {% else %}
        <li class="nav">
          <a class="btn btn-color nav" href="/login" role="button"
            >Google Signup</a
          >
        </li>
        {% endif %}
      </div>
      <!-- </div> -->
    </nav>
    <!-- Hero Section -->
    <header class="hero text-center py-5">
      <b><h1 style="font-family: 'Georgia', serif">Welcome to Daviz</h1></b>
      <p class="lead" style="font-family: 'Georgia', serif">
        Your ultimate data visualization partner.
      </p>
    </header>
    <br />
    <div class="container">
      <section id="about" class="section">
        <div class="card card-body py-5 about">
          <h2>About Us</h2>
          <br />
          <p>
            Welcome to Daviz! Our mission is to make data visualization
            accessible and straightforward for everyone. Whether you're a
            business professional, a data analyst, or a student, our tool is
            designed to help you turn raw data into insightful visual
            representations with ease.
            <br /><br />
            At Daviz, we understand that data can be complex and overwhelming.
            That's why we've created an intuitive platform that allows you to
            upload your CSV files and generate a variety of charts and graphs in
            just a few clicks. Our goal is to empower you to explore and
            understand your data better, making informed decisions and
            discovering new insights.
          </p>
        </div>
        <br />
      </section>
      <div class="card card-body py-5 explore">
        <section id="explore" class="section">
          <h2>Explore</h2>
          <p>Start exploring your data with Daviz today!</p>
          <div
            id="featureCarousel"
            class="carousel slide"
            data-bs-ride="carousel"
            data-bs-interval="3000"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card card-body py-5">
                  <section id="explore" class="section">
                    <h2>User-Friendly Interface</h2>
                    <p>
                      Our platform is designed to be simple and easy to use, so
                      you can focus on what matters most – your data.
                    </p>
                  </section>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card card-body py-5">
                  <section id="explore" class="section">
                    <h2>Versatile Visualizations</h2>
                    <p>
                      Choose from a wide range of chart types, including bar
                      charts, line charts, pie charts, and more.
                    </p>
                  </section>
                </div>
              </div>
              <!-- Add more items for each feature -->
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#featureCarousel"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#featureCarousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
      </div>
      <br />
      <div class="card card-body py-5">
        <section id="contact" class="section">
          <h3>Contact</h3>
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d486.103943227375!2d80.18852770922386!3d12.918546163046479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d35a840accd%3A0x6eed69fa90dcf2fa!2sMagic%20Bus%20India%20Foundation%20Medavakkam!5e0!3m2!1sen!2sin!4v1716429878068!5m2!1sen!2sin"
              width="100%"
              height="270"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <p>
            We're continuously working to improve and expand our features to
            better serve our users. We invite you to join our community, explore
            the possibilities with Daviz, and take your data analysis to the
            next level. Thank you for choosing Daviz. Let's visualize a better
            future together!
          </p>
          <a href="mailto: datavisualizer21@gmail.com " class="btn">
            <i class="fas fa-envelope"></i> Email Us
          </a>      
        </section>
      </div>
    </div>
    <br /><br /><br /><br />
    <footer class="py-2">
      <p>&copy; 2024 Daviz - Data Visualizer. All rights reserved.</p>
    </footer>
  </body>
</html>
